{% extends 'blog/layout.html' %}

{% block before_container %}
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Delete Post?</h1>
                <small>Are you sure you want to delete post: {{ object.title }}</small>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <form method='post'>
        {% csrf_token %}
        <div class='form-group'>
            <div class="p-3 w-50 m-auto">
                <div class='form-group pt-3 d-flex'>
                    <button type="submit" class="btn btn-danger w-50 mb-3 me-5">Yes. Delete!!</button>
                    <a href="{% url 'post-detail' object.pk %}" class="btn btn-outline-dark w-50 mb-3">No, Go back!</a>
                </div>
            </div>
        </div>

        <div class="border-top p-5">

        </div>
    </form>
{% endblock %}